@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.koox-300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.koox-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.koox-500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.koox-700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.bg-koox {
    background-color: transparent;
}
nav {
    background-color: #000;
}
.nav-link {
    color: #fff !important;
}
.menu {
    border: solid 1px #fff;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}
.btn-primary {
    background: rgb(255, 166, 0);
    color: #fff;
    font-weight: 600;
    border: none;
}

.btn-primary:hover {
    background: rgb(24, 162, 3);
    border: none;
}

.index-video {
    margin-top:1em;
} @media (max-width:550px) {
    .index-video {
        margin-top: 5.3em;
    }
}
.header-camps {
    margin-top: 5.7em;
}
.cargo {
    font-size: .6em;
    font-weight: 300;

}


.method {
   
    background-image: url(/img/bg-ama-2.png);
    background-position: right;
    background-repeat: no-repeat;
} @media (max-width:992px) {
    .method {
        background-position: center 70px;
        background-size: cover;
    }
}/* @media(max-width:1450px){
    .method {
        background-image: url(/img/rec-amarillo.png);
        background-position: 430px right;
        background-repeat: no-repeat;
    }
} */

#includes i {
    font-size: 1.5em;
    color: orange;
}

#team {
    background-image: url(/img/team/bg-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2em;
}

#team h1, #team h4, #team p {
    color: #fff;
}

#camp-card li{
    list-style: none;
}

#camp-card .card {
    border: none;
    box-shadow: 0px 0px 10px 1px rgba(197, 197, 197, 0.2);
    border-radius: 10px;
}

#film-camps {
    margin-top: 5em;
}

#maps {
   padding-top: 7em;
}
li {
    list-style: none;
}
.glider-prev {
    display: none;
}
.glider-next {
    display: none;
}

.pad {
    padding: 6.5em;
} @media (max-width:1100px) {
    .pad {
        padding: 0;
        margin-top: 6em;
    }
}

.pad-1 {
    padding: 8.5em 8.5em 3.5em 8.5em;
} @media (max-width:1100px) {
    .pad-1 {
        padding: 0;
        margin-top: 7.5em;
        margin-bottom: 2em;
    }
}

.video iframe{
    width: 100%;
    height: 400px;
}
/* .fa-whatsapp {
    font-size: 2em;
} */

.carousel__contenedor {
    position: relative;
}
.carousel__anterior,
.carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #0d2828;
    opacity: 20%;
} @media (max-width: 700px) {
    .carousel__anterior,
    .carousel__siguiente {
        display: none;
    }
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
    opacity: 100%;
}

.carousel__anterior {
    left: -50px;
}

.carousel__siguiente {
    right: -50px;
}

.carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #000;
    opacity: .2;
    border-radius: none;
}

.carousel__indicadores .glider-dot:hover {
    opacity: 1;
}

.carousel__indicadores .glider-dot.active {
    opacity: 1;
    background-color: #000;
}

.carousel__anterior1,
.carousel__siguiente1 {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #0d2828;
    opacity: 50%;
} @media (max-width: 700px) {
    .carousel__anterior1,
    .carousel__siguiente1 {
        display: none;
    }
}

.carousel__anterior1:hover,
.carousel__siguiente1:hover {
    opacity: 100%;
}

.carousel__anterior1 {
    left: -50px;
}

.carousel__siguiente1 {
    right: -50px;
}

.carousel__indicadores1 .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #000;
    opacity: .2;
    border-radius: none;
}

.carousel__indicadores1 .glider-dot:hover {
    opacity: 1;
}

.carousel__indicadores1 .glider-dot.active {
    opacity: 1;
    background-color: #000;
}

footer {
    background-color: #000;
}

footer a  {
    color: #fff;
}